.LoginForm {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 20px;
}

.LoginForm-header {
	font-size: 24px;
	margin-bottom: 17px;
}

.LoginForm input {
	width: 206px;
	height: 23px;
}

.LoginForm-login {
	width: 206px;
	height: 23px;
}

.LoginForm-label-login {
	font-size: 16px;
	margin-top: 20px;
}

.LoginForm-label-psw {
	margin-top: 20px;
}

.LoginForm p {
	margin: 0;
	padding-bottom: 20px;;
}

.LoginForm-input {
	margin-bottom: 20px;
}