.login-message {
  padding-top: 30px;
  margin-bottom: 30px;
}
.login-link {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #0087e9;
  padding-top: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.login-link:hover {
  color: darkblue;
}

.cancel-link {
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
	color:gray;
	padding-top: 10px;
	text-decoration: underline; 
}

