.modal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  width: 960px;
  height: 407px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  overflow: auto; /* Добавляем скроллбар при необходимости */
  height: 100%; /* Занимает всю высоту модального окна */
}

.modal-header {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin-left: 20px;
  font-size: 32px;
}

.modal-btn {
  margin-right: 32px;
}

.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.modal-items {
  padding-top: 25px; /* Отступ сверху для корректного отображения */
}

.Dashed {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.Item-code,
.Item-title {
  padding: 20px 10px;
}

.Item-title {
  flex: 1;
}

.modal-price {
  margin-right: 77px;
  font-weight: bold;
  font-size: 18px;
  padding-right: 20px;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

.modal-price .label {
  margin-right: 53px; 
}

.Item-quantity {
  margin-left: 62px;
}

.Item-actions-btn {
  margin-left: 22px;
  margin-right: 11px;
}

.Item-EmtyBasket {
  text-align: center;
}