.comment-item {
	margin-top: 30px;
	max-width: 944px;
}

.children-comments {
	padding-left: 30px;
}

.coment-item-data-btn {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	color: #0087e9;
	padding-top: 10px;
	font-size: 12px;
}

.comment-item-name {
	color: black;
	font-size: 12px;
	margin-right: 10px;
}

.comment-item-name--current-user {
	color: gray;
	font-size: 12px;
	margin-right: 10px;
}

.comment-item-text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	max-width: 100%;
	margin-top: 10px;
	font-size: 14px;
}

.coment-item-data {
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.new-comment-form-btn {
	margin-left: 10px;
}

.comment-item-date {
	font-size: 12px;
}

.comment-max-level-message {
	font-size: 12px;
	color: red;
}
