.Loader {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px dashed #0087E9;
	animation: rotate 1s infinite linear;
}

@keyframes rotate{
	from {
			transform: rotate(0deg) scale(1);
	} 
	to {
			transform: rotate(360deg) scale(1.4);
	}
}